# Web scraping data on cryptocurrencies

In [164]:
#May have to update attrs in future
table = soup.find('table', attrs={'class':})
table_rows = table.find_all('tr')

#List to store Top 50 Coins
coin_market = []


#Loop to grab data
for row in table_rows:
    data = row.find_all('td')
    final_row = [row.text.strip() for row in data if row.text.strip()]
    
    if row:
        coin_market.append(final_row)

In [114]:
#View element in coin_market list
coin_market[2]

['2',
 'EthereumETH',
 '$3,831.19$3,831.19.css-84xzn5{color:var(--chakra-colors-up);line-height:16px;font-weight:var(--chakra-fontWeights-semibold);}+1.02%',
 '.css-sma3iu{color:var(--chakra-colors-up);font-weight:var(--chakra-fontWeights-semibold);}+1.02%',
 '$14.01 B',
 '$452.82 B',
 'Trade']

In [ ]:
#The name of coins
coin_data   = soup.find_all("span",{"class":[]})
Coin_names  = [coin.text for coin in coin_data]


#Coin ranking
coin_num    = soup.find_all("td",{"class":[]})
Coin_rank   = [rank.text for rank in coin_num]


coin_price_data   = soup.find_all("div",{"class":["css-0"]})
coin_price     = [price.text for price in coin_price_data][:-2]


data = list(zip(Coin_rank, Coin_names, coin_price))

Rank_Name = pd.DataFrame(data, columns = ['Rank', 'Asset_Name', 'Coin_Price'])

In [165]:
#Dataframe for Top 50 Crypto coins
crypto_top_50 = pd.DataFrame(coin_market, columns=["Rank", "Name", "Price", "24H_CHANGE", '24H_VOLUME', "Market_Cap",'u','o','k'])
crypto_top_50.head(5)

,Rank,Name,Price,24H_CHANGE,24H_VOLUME,Market_Cap,u,o,k
0,None,None,None,None,None,None,None,None,None
1,.css-k008qs{display:-webkit-box;display:-webki...,1,.css-4xjgmj{display:-webkit-box;display:-webki...,.css-b1ilzc{display:none;}@media screen and (m...,.css-1a4ozgv{font-weight:var(--chakra-fontWeig...,$44.10 B,$809.96 B,.css-1pffz1z{display:none;text-align:right;}@m...,.css-9bmzc3{display:-webkit-inline-box;display...
2,2,EthereumETH,"$3,302.77$3,302.77-2.14%",-2.14%,$15.22 B,$390.60 B,Trade,None,None
3,3,BNBBNB,$487.69$487.69.css-1348rpl{font-weight:var(--c...,.css-jgju88{font-weight:var(--chakra-fontWeigh...,$4.17 B,$80.68 B,Trade,None,None
4,4,TetherUSDT,$1.01$1.01-0.00%,-0.00%,$63.90 B,$78.43 B,Trade,None,None

In [ ]:
#Drop unwanted columns
crypto_top_50.drop(['u','o','k'], axis = 1, inplace = True)

#Drop unwanted rows
crypto_top_50.drop([0, 1, 3], axis = 0, inplace = True)

In [153]:
#View final dataframe
crypto_top_50.head(3)

  Rank         Name                     Price 24H_CHANGE 24H_VOLUME Market_Cap
2    2  EthereumETH  $3,302.77$3,302.77-2.14%     -2.14%   $15.22 B  $390.60 B
4    4   TetherUSDT          $1.01$1.01-0.00%     -0.00%   $63.90 B   $78.43 B
5    5    SolanaSOL      $149.70$149.70-0.60%     -0.60%    $2.21 B   $46.55 B

In [154]:
#Export dataframe to CSV
crypto_top_50.to_csv('Coin Market.csv')

In [ ]:
#Merge dataframe for clean names
Top_50 = pd.merge(Rank_Name, crypto_top_50)

In [ ]:
#Merge Crypto Top 50 with Kaggle dataframe
coin_asset_supp_train = pd.merge(asset_supp_train, Top_50, how = 'left')
coin_asset_supp_train